<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 合伙人设备对应 -->
<mapper namespace="com.tly.dao.IPartnerEquipmentDao">
	<!-- 查询合伙人设备 -->
	<select id="selectByPe" parameterType="java.lang.Integer" resultType="java.util.HashMap">
		select e.type as type,es.number as number,pe.form as form,pe.status as status,ei.outtime as outtime,pe.time as time
		 	from equipment as e
			left join equipmentsublist as es on e.id = es.eid
			left join equipmentinoutstorage as ei on ei.number = es.number
			left join partnerequipment as pe on es.id = pe.eid
			where pe.pid = #{pid}
	</select>
	
	<select id="selectEquipmentForm" parameterType="java.lang.String" resultType="java.lang.Integer">
		select form from partnerequipment where eid = (select id from equipmentsublist where number = #{equipmentnumber}) 
	</select>
	
	<!-- 按设备编号查询 -->
	<select id="selectByNumber" parameterType="java.lang.String" resultType="com.tly.model.PartnerEquipment">
		select pe.*
		from equipmentsublist as es 
		left join partnerequipment as pe on pe.eid = es.id
		left join partner as p on p.id = pe.pid
		where es.number = #{number}
	</select>
	
	<!-- 根据设备子表id查询设备的扫码价格 -->
	<select id="selectSmoneyByEid" parameterType="java.lang.Integer" resultType="java.lang.Double">
		select smoney from partnerequipment where eid = #{eid}
	</select>
	
	<!-- 按店铺管理员微信id查询设备 -->
	<select id="selectwxidByEs" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * 
		from equipmentsublist as es 
		left join partnerequipment as pe on es.id = pe.eid
		left join shop as s on s.pid = pe.pid
		left join administrator as a on a.sid = s.sid
		where a.wxid = #{wxid} and form = #{form}
	</select>
	
	<!-- 按店铺合伙人微信id查询设备 -->
	<select id="selectpwxidByEs" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * 
		from equipmentsublist as es 
		left join partnerequipment as pe on es.id = pe.eid
		left join shop as s on s.pid = pe.pid
		left join partner as p on p.id = s.pid
		where p.wxid = #{wxid} and form = #{form}
	</select>
	
	<!-- 设备命名 -->
	<update id="updatebyname" parameterType="com.tly.model.PartnerEquipment">
		update partnerequipment set name = #{name} where id = #{id}
	</update>
	<!-- 按合伙人微信id查询已经修改过价格的设备 -->
	<select id="selectByMoney" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from partnerequipment pe
		left join partner p on pe.pid = p.id
		left join equipment e on pe.eid = e.id 
		where p.wxid = #{wxid} and pe.smoney is not null
	</select>
	<!-- 修改为已读 -->
	<update id="updatelookByYd" parameterType="java.lang.String">
		update partnerequipment set look = 1 where eid in(
		select p.eid from (
		select pe.eid as eid from partnerequipment pe
		left join partner p on pe.pid = p.id
		where p.wxid = #{wxid} and pe.smoney is not null) as p
		)
	</update>
	<!-- 按合伙人微信id查询已经修改过价格的设备未读数量 -->
	<select id="selectbylookcount" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from partnerequipment pe
		left join partner p on pe.pid = p.id
		where p.wxid = #{wxid} and pe.smoney is not null and pe.look = 2
	</select>
	<!-- 修改设备价格 -->
	<update id="updatesmoney" parameterType="com.tly.model.PartnerEquipment">
		update partnerequipment set smoney = #{smoney} where eid = #{eid}
	</update>
	<update id="updatelookbywd" parameterType="java.lang.Integer">
		update partnerequipment set look = 2 where eid = #{eid}
	</update>
	<!-- 新增设备合伙人关联 -->
	<insert id="insert" parameterType="com.tly.model.PartnerEquipment">
		insert into partnerequipment(pid,eid,form) values(#{pid},#{eid},#{form})
	</insert>
</mapper>